<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="ListaPeliculas">Listado de Peliculas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Contacto">Contacto</a>
    </li>
  </ul>