.conta{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp4016036.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    
    form{
        border: 1px solid rgba(0, 0, 0, 0.377);
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.678);
        border-radius: 15px;
    }