<div class="conta">
    <form [formGroup]="form" fxLayout="column">

      <mat-form-field class="example-form-field">
      <mat-label>Ingrese el nombre</mat-label>
      <input matInput type="text" formControlName="nombre">
      <mat-error *ngIf="nombre?.hasError('required') && (nombre?.dirty || nombre?.touched)">
          <p>El nombre es requerido</p>
      </mat-error>
    </mat-form-field>
  
      
    <mat-form-field class="example-form-field">
      <mat-label>Ingrese su correo</mat-label>
      <input matInput type="text" formControlName="correo">
      <mat-error *ngIf="correo?.hasError('required') && (correo?.dirty || correo?.touched)">
          <p>Correo requerido</p>
      </mat-error>
    
      <mat-error *ngIf="correo?.hasError('email') && (correo?.dirty || correo?.touched)">
          <p>Tiene que se un correo valido </p>
      </mat-error>
      
    </mat-form-field>  

    <mat-form-field class="example-form-field">
        <mat-label>Ingrese el telefono</mat-label>
        <input matInput type="text" formControlName="telefono">
    </mat-form-field>

    <mat-form-field class="example-form-field">
        <mat-label>Ingrese un mensaje</mat-label>
        <input matInput type="text" formControlName="mensaje">
        <mat-error *ngIf="mensaje?.hasError('maxLength') && (mensaje?.dirty || mensaje?.touched)">
            <p>El mensaje no debe de contener más de 40 caracteres</p>
        </mat-error>
      </mat-form-field>

  <button mat-button (click)="onContact()">Registrarse</button>
  <button mat-button routerLink="">Cancelar</button>
  </form>
</div>
  
  