<div class="conta">
  <div class="container p-4 flex-grow-1 bd-highlight ">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Examen de peliculas</div>
        <div class="card-body">
          <h5 class="card-title">Ve que peliculas tienes y cuales te faltan</h5>

        </div>
      </div>
</div>
</div>
