.conta{
    width: 100%;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp4016036.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    